*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
app/src/main/java/org/jnanaprabodhini/happyteacher/SECRETS.kt
app/src/main/res/values/secrets.xml
app/release/app-release.apk
app/release/output.json
