<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jnanaprabodhini.happyteacherapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.jnanaprabodhini.happyteacherapp.HappyTeacherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.TopicsListActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.jnanaprabodhini.happyteacherapp.activity.BoardLessonsActivity" />
        <activity android:name="org.jnanaprabodhini.happyteacherapp.activity.ContributeActivity" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.LessonViewerActivity"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.TopicsListActivity" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.ClassroomResourceViewerActivity"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.TopicsListActivity" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.FullScreenGalleryViewerActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.SubtopicSubmissionsListActivity"
            android:label="@string/other_lesson_plans"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.TopicsListActivity" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.ResourceEditorActivity"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.ContributeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_api_key" />

        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.TopicsListActivity" />
        <activity
            android:name="org.jnanaprabodhini.happyteacherapp.activity.SubtopicWriteChoiceActivity"
            android:label="@string/create_a_resource"
            android:noHistory="true"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.ContributeActivity" />
        <activity android:name="org.jnanaprabodhini.happyteacherapp.activity.CardEditorActivity"
            android:label="@string/card_editor"
            android:parentActivityName="org.jnanaprabodhini.happyteacherapp.activity.ResourceEditorActivity"/>
    </application>

</manifest>