<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jnanaprabodhini.happyteacherapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HappyTeacherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TopicsListActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BoardLessonsActivity" />
        <activity android:name=".activity.ContributeActivity" />
        <activity
            android:name=".activity.LessonViewerActivity"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity
            android:name=".activity.ClassroomResourceViewerActivity"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity
            android:name=".activity.ResourceContentReviewActivity"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity
            android:name=".activity.FullScreenGalleryViewerActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.SubtopicLessonListActivity"
            android:label="@string/other_lesson_plans"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity
            android:name=".activity.ResourceContentEditorActivity"
            android:parentActivityName=".activity.ContributeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_api_key" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity
            android:name=".activity.SubtopicWriteChoiceActivity"
            android:label="@string/create_a_resource"
            android:noHistory="true"
            android:parentActivityName=".activity.ContributeActivity" />
        <activity
            android:name=".activity.CardEditorActivity"
            android:label="@string/card_editor"
            android:parentActivityName=".activity.ResourceContentEditorActivity" />
        <activity
            android:name=".activity.SubmissionsForReviewActivity"
            android:label="@string/review_submissions"
            android:parentActivityName=".activity.TopicsListActivity" />
        <activity android:name=".activity.FeedbackCommentsActivity"
            android:label="@string/feedback_notes"
            android:parentActivityName=".activity.LessonViewerActivity"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".service.FirebaseRegistrationTokenService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>